<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>
		<style type="text/css">
		#container { width: 600px; height: 500px; overflow:scroll;}
		</style>
	</head>
	<body>
		<div id="container"><div class="inner"></div></div>
		<div id="edit">
			<textarea name="" id="" cols="30" rows="10" placeholder="请输入消息..."></textarea>
			<button id="submit">发送消息</button>
			<p>
				<input type="text" placeholder="请输入姓名">
				<button id="username">确定</button>
			</p>
		</div>
		<!-- <script src="/socket.io/socket.io.js"></script> -->
		<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
		<script>
		window.page_data = {
			msg_length: <%= msg_length %>,
			user_name: <%= user_name %>
		}
		</script>
		<script>
		$(function() {

			function postMsg(data) {
				$.ajax({
					url: '/message',
					type: 'POST',
					data: data || null
				}).done(getMsg)
			}

			var onGetMsg = false

			function getMsg() {
				if (onGetMsg) {
					return
				}
				onGetMsg = true
				$.ajax({
					url: '/message',
					type: 'GET',
					data: window.page_data
				}).done(function(data) {
					data = typeof data === 'string' ? $.parseJSON(data) : data
					if ($.isArray(data.msg_list)) {
						appendMsg(data.msg_list)
						window.page_data.msg_length += data.msg_list.length
					}
					onGetMsg = false
				}).error(function() {
					onGetMsg = false
				})
			}

			var template = '<div class="msg-item"><strong>{{user_name}} {{date}}</strong><p>{{msg}}</p></div>'

			function appendMsg(msgList) {
				var content = []
				$.each(msgList, function(_, msgObj) {
					var item = template
					$.each(msgObj, function(key, value) {
						item = item.replace('{{' + key + '}}', value)
					})
					content.push(item)
				})
				if (!content.length) {
					return
				}
				var $container = $('#container')
				var $inner = $container.find('.inner')
				$inner.append(content)
				$container.scrollTop($inner.height())
			}

			$('#edit')
				.on('click', '#submit', function() {
					var $text = $('#edit textarea')
					var val = $text.val()
					if (val) {
						postMsg({
							user_name: page_data.user_name,
							date: new Date().toLocaleString(),
							msg: val
						})
						$text.val('').focus()
					}
				})
				.on('keyup', 'textarea', function(e) {
					if (e.keyCode === 13) {
						$('#submit').click()
					}
				})
				.on('click', '#username', function() {
					var $this = $(this)
					var $input = $(this).siblings('input')
					var val = $input.val()
					if (val) {
						page_data.user_name = val
						$this.parent().fadeOut()
					}
				})

			setInterval(getMsg, 3000)

			getMsg()

		})
		</script>
	</body>
</html>
